#info,
label:has(#showHandles) {
  display: none;
}

body {
  width: var(--body-width);
  height: var(--body-height);
}

main {
  display: grid;
  grid-auto-columns: auto;
  gap: var(--gap-width);
  margin: var(--gap-width) auto;
  width: fit-content;
  height: var(--main-height);
}

#controles > div {
  margin-bottom: var(--space-4);
}

#controles {
  grid-column: 1;
  width: var(--controles-width);
}

#canvas {
  grid-column: 2;
  width: var(--canvas-size);
}

#guardarCurva {
  flex: 0 1 fit-content;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--space-1);
}

.card {
  box-shadow: var(--card-shadow);
  border: 1px solid var(--border);
  border-radius: var(--space-4);
  background: var(--panel);
  padding: var(--space-4);
  width: auto;
}

.card > * {
  margin-bottom: var(--space-2);

  &:last-child {
    margin-bottom: 0;
  }
}

label:has(input[type="range"]) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2);
}

input[type="range"].h1 {
  --base-color: var(--h1-color);
}

input[type="range"].h2 {
  --base-color: var(--h2-color);
}

button.copied {
  background-color: color(from var(--accent) srgb r g b / 0.2);
  pointer-events: none;
}

.small {
  opacity: 0.85;
  font-size: 12px;
}

.hidden {
  display: none;
}
