:root {
  /* generales */
  --body-width: 100svw;
  --body-height: 100svh;
  --gap-width: 16px;
  --controles-width: 300px;
  --animador-width: 64px;
  --regla-width: 16px;
  --main-height: calc(var(--body-height) - calc(var(--gap-width) * 2));
  --canvas-size: var(--main-height);
  --bola-size: calc(var(--animador-width) * 0.75);

  /* colores tema */
  --panel: #f3f3f3;
  --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  --h1-color: orange;
  --h2-color: deepskyblue;
}

:root.dark {
  /* colores tema */
  --bg: #404040;
  --panel: #505050;
  --border: #606060;
  --accent: oklch(62.677% 0.10814 272.005);
  --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
}

#info,
label:has(#showHandles) {
  display: none;
}

body {
  width: var(--body-width);
  height: var(--body-height);
}

main {
  display: grid;
  grid-template-columns:
    var(--controles-width) var(--canvas-size) var(--regla-width)
    var(--animador-width);
  grid-template-areas: "controles canvas regla animador";
  gap: var(--gap-width);
  margin: var(--gap-width) auto;
  width: fit-content;
  height: var(--main-height);
}

#controles > div {
  margin-bottom: calc(var(--gap-width) / 2);
}

#controles {
  grid-area: controles;
}

#canvas {
  grid-area: canvas;
}

#animador {
  position: relative;
  grid-area: animador;
  width: var(--animador-width);
  height: var(--canvas-size);
}

#regla {
  position: relative;
  grid-area: regla;
  width: var(--regla-width);
  height: var(--canvas-size);
}

.reglaPunto {
  --altura-marca: 2px;
  position: absolute;
  transform: translateY(calc(-1 * var(--altura-marca) / 2));
  background: color-mix(in srgb, var(--fg) 25%, var(--bg) 75%);
  width: 100%;
  height: var(--altura-marca);
}

.reglaPuntoCentral {
  background: var(--fg);
}

@keyframes animacionBola {
  0% {
    top: 0;
  }
  100% {
    top: calc(var(--canvas-size) - var(--bola-size));
  }
}

#animadorBolaShadow,
#animadorBola {
  position: absolute;
  top: 0;
  left: calc(calc(var(--animador-width) - var(--bola-size)) / 2);
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  border-radius: 50%;
  background: var(--accent);
  width: var(--bola-size);
  height: var(--bola-size);
}

#animadorBola {
  animation-name: animacionBola;
}

#animadorBolaShadow {
  display: none;
  opacity: 0.8;
  z-index: -1;
  animation-timing-function: linear;
  animation-name: animacionBola;
  box-sizing: border-box;
  border: 3px solid var(--border);
  background: var(--bg);
}

#guardarCurva {
  flex: 0 1 fit-content;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: calc(var(--gap-width) / 2);
}

.card {
  box-shadow: var(--card-shadow);
  border: 1px solid var(--border);
  border-radius: 16px;
  background: var(--panel);
  padding: calc(var(--gap-width) * 0.8) var(--gap-width);
  width: auto;
}

.card > * {
  margin-bottom: calc(var(--gap-width) / 2);

  &:last-child {
    margin-bottom: 0;
  }
}

label:has(input[type="range"]) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

input[type="range"].h1 {
  --base-color: var(--h1-color);
}

input[type="range"].h2 {
  --base-color: var(--h2-color);
}

button.copied {
  background-color: color(from var(--accent) srgb r g b / 0.2);
  pointer-events: none;
}

.tooltip {
  display: none;
  position: fixed;
  border-radius: 6px;
  background: #000;
  padding: 6px 8px;
  pointer-events: none;
  color: #fff;
  font-size: 12px;
}

.small {
  opacity: 0.85;
  font-size: 12px;
}

.hidden {
  display: none;
}
