body {
  margin: 0;
  background-color: var(--bg);
  padding: 0;
  overflow: hidden;
  color: var(--fg);
  font-family: var(--font-family);
}

input[type="text"],
button,
select {
  border: 1px solid var(--border);
  border-radius: var(--space-2);
  background: var(--bg);
  padding: var(--space-2);
  width: 100%;
  color: var(--fg);
}

button {
  transition:
    filter 0.15s ease,
    background 0.15s ease;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }
}

*:focus-visible {
  outline: 1px solid color(from var(--fg) srgb r g b / 0.4);
  border-radius: var(--space-1);
}

label {
  display: block;
  flex: 1;
  margin-top: var(--space-2);
  font-size: 14px;
  user-select: none;
}

input[type="checkbox"] {
  accent-color: var(--accent);
}

input[type="range"] {
  --base-color: var(--accent);

  -webkit-appearance: none;
  flex: 1;
  margin: var(--space-2) 0;
  background: none;
  width: 100%;

  &::-webkit-slider-runnable-track {
    transition: background-color 0.25s ease;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow:
      1px 1px 1px color(from black srgb r g b / 0.3),
      0px 0px 2px color(from black srgb r g b / 0.2);
    border: 1px solid var(--border);
    border-radius: var(--space-1);
    background-color: color-mix(in oklch, var(--base-color) 60%, var(--bg) 70%);
    width: 100%;
    height: var(--space-2);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform: translateY(-25%);
    transition:
      scale 0.125s ease,
      background-color 0.25s ease;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow:
      1px 1px 1px color(from black srgb r g b / 0.3),
      0px 0px 2px color(from black srgb r g b / 0.2);
    border: 1px solid var(--base-color);
    border-radius: 50%;
    background-color: color-mix(in oklch, var(--base-color) 80%, var(--bg) 50%);
    width: var(--space-4);
    height: var(--space-4);
  }

  &:hover::-webkit-slider-runnable-track {
    background-color: color-mix(in oklch, var(--base-color) 80%, var(--bg) 70%);
  }

  &:hover::-webkit-slider-thumb {
    box-shadow:
      1px 1px 1px color(from black srgb r g b / 0.4),
      0px 0px 2px color(from black srgb r g b / 0.3);
    background-color: color-mix(in oklch, var(--base-color) 90%, var(--bg) 28%);
  }
  &:active::-webkit-slider-thumb {
    scale: 1.1;
  }
}

h2 {
  margin-block: 0;
  border-bottom: 1px solid var(--border);
  padding-block: var(--space-1) var(--space-2);
  font-weight: 300;
}

hr {
  margin: var(--space-2) 0;
  border: none;
  border-top: 1px solid var(--border);
}
