:root {
  /* generales */
  --controles-width: 300px;
  --main-width: 960px;
  --gap-width: 16px;
  --font-family: "Segoe UI", Arial, sans-serif;

  /* colores comunes */
  --fg: currentColor;
  --h1-color: orange;
  --h2-color: deepskyblue;

  /* colores tema */
  --bg: #ffffff;
  --panel: #f5f5f5;
  --border: #d8d8d8;
  --accent: oklch(72.677% 0.10814 272.005);
}

:root.dark {
  /* colores tema */
  --bg: #1e1e1e;
  --panel: #2c2c2c;
  --border: #444;
  --accent: oklch(62.677% 0.10814 272.005);
}

#info,
label:has(#showHandles) {
  display: none;
}

body {
  color: var(--fg);
  background-color: var(--bg);
  height: 100svh;
  width: 100svw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-family);
}

main {
  width: var(--main-width);
  height: calc(100svh - calc(var(--gap-width) * 2));
  margin: var(--gap-width) auto;
  overflow: hidden;
  display: grid;
  gap: var(--gap-width);
  grid-template-columns: var(--controles-width) 1fr;
  align-items: start;
}

#controles,
#canvas {
  overflow: hidden;
}
#controles > div {
  margin-bottom: calc(var(--gap-width) / 2);
}

.row {
  display: flex;
  gap: var(--gap-width);
  flex-wrap: wrap-reverse;
  flex-direction: row;
  align-items: flex-start;
}

.card {
  width: auto;
  background: var(--panel);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: var(--gap-width) calc(var(--gap-width) / 2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

*:focus-visible {
  outline: 1px solid color(from var(--fg) srgb r g b / 0.4);
  border-radius: 4px;
}

label {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  user-select: none;
  flex: 1;
}

label:has(input[type="range"]) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

input[type="checkbox"] {
  accent-color: var(--accent);
}

input[type="range"] {
  --base-color: var(--accent);

  -webkit-appearance: none;
  flex: 1;
  background: none;
  margin: 8px 0;
  width: 100%;

  &::-webkit-slider-runnable-track {
    background-color: color-mix(in oklch, var(--base-color) 60%, var(--bg) 70%);
    width: 100%;
    height: 8.4px;
    border: 0.2px solid var(--border);
    border-radius: 4px;
    box-shadow:
      1px 1px 1px color(from black srgb r g b / 0.3),
      0px 0px 2px color(from black srgb r g b / 0.2);
    cursor: pointer;
    transition: background-color 0.25s ease;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: color-mix(in oklch, var(--base-color) 80%, var(--bg) 50%);
    margin-top: -4px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--base-color);
    border-radius: 50%;
    box-shadow:
      1px 1px 1px color(from black srgb r g b / 0.3),
      0px 0px 2px color(from black srgb r g b / 0.2);
    cursor: pointer;
    transition:
      scale 0.125s ease,
      background-color 0.25s ease;
  }

  &:hover::-webkit-slider-runnable-track {
    background-color: color-mix(in oklch, var(--base-color) 80%, var(--bg) 70%);
  }

  &:hover::-webkit-slider-thumb {
    background-color: color-mix(in oklch, var(--base-color) 90%, var(--bg) 28%);
    box-shadow:
      1px 1px 1px color(from black srgb r g b / 0.4),
      0px 0px 2px color(from black srgb r g b / 0.3);
  }
  &:active::-webkit-slider-thumb {
    scale: 1.1;
  }
}

input[type="range"].h1 {
  --base-color: var(--h1-color);
}

input[type="range"].h2 {
  --base-color: var(--h2-color);
}

button,
select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--bg);
  color: var(--fg);
}

button {
  cursor: pointer;
}

button:hover {
  transform: translateY(-1px);
}

.tooltip {
  position: fixed;
  display: none;
  pointer-events: none;
  background: #000;
  color: #fff;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.small {
  font-size: 12px;
  opacity: 0.85;
}

button {
  transition:
    transform 0.15s ease,
    background 0.15s ease;
}

button.copied {
  background: #2e7d32;
}

.hidden {
  display: none;
}

h2 {
  margin-block: 0;
  font-weight: 300;
  border-bottom: 1px solid var(--border);
  padding-block: 8px 12px;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
  margin: 12px 0;
}
